@import 'nib';

global-reset();

body {
  background-color: rgba(25, 25, 25, 1);
  color: white;
  font-family: helvetica, sans-serif;
  font-weight: 200;
}

*, *:after, *:before {
  box-sizing: border-box;
}

@import 'partials/download';
